#first{
    background-color: grey;
    border: 3px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;

}

#second{
    background-color: aquamarine;
    border: 3px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
}

#static{
    position: static;
}

#relative #second{
    position: relative;
    top: 50px;
    left: 110px;
}

#absolute{
    position: relative;
}

#absolute #second{
    position: absolute;
    top: 50px;
    left: 50px;
    
}

#fixed #second{
    position: fixed;
    top: 00px;
    left: 0px;
}