h1{
    background-color: teal;
    display: inline;
}

span{
    background-color: pink;
    display: block;
    border: 1px solid black;

    /* width: 500px;  ignored */
    padding: 20px;

    margin: 50px;
}

div{
    height: 200px;
    width: 500px;

    background-color: magenta;
    display: inline-block;
    margin: 50px;
    border: 10px solid black;
}

article{
    font-size: 30px;
}

ul{
    font-size: 1rem;
}

h2{
    font-size: 2em;
    margin-left: 1em;
}

button{
    font-size: 2em;
    padding: 0 1em;
    border-radius: 4em;
}
